[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    import-error,
    invalid-name,
    unbalanced-tuple-unpacking

[MAIN]
extension-pkg-allow-list=PyQt6

[FORMAT]
max-line-length=128